*.debhelper.log
*.substvars
tmp/
.debhelper/
debhelper-build-stamp
debian/files
files
libsdu*.install
/robwork-*
patches
/lib*
/doc
/robworkstudio
/robworkstudio.install
robworkstudio.install
/sdurw-doc
sdurw-cmake*/
sdurws-cmake*/
sdurwhw-cmake*/
sdurwsim-cmake*/
python3*/
lua*/

/default-packages/debian/*.substvars
/default-packages/debian/libsdurw*
*_amd64.deb
